doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/assets/styles/css/main.css")
        link(rel="stylesheet" href="/bower_components/normalize.css/normalize.css")
        link(rel="icon" href="/assets/images/favicon.ico")
        link(rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.css")
        title Vineeth N V | Web Designer/Developer | iOS Developer | UI/UX Designer
    body
        .container
            
            header
                span.name
                    a(href="/index.html") Vineeth N V
                i.fa.fa-envelope-o
                span.email vineeth1991@gmail.com
                i.fa.fa-phone
                span.contact +91-9539568276
                
            .default-wrapper
                span.heading Technical Profile and Skills
                article.competencies
                    h4.sub-heading Skills and Comptencies
                    ul.main-list
                        li.main-list-item Good communication skill
                        li.main-list-item Good planning and organization skill
                        li.main-list-item Team player
                        li.main-list-item Good presentation skill
                        li.main-list-item Independent, pro-active and self-motivated    
                article.degree
                    h4.sub-heading Qualifications 
                    ul.main-list
                        li.main-list-item Master of Computer Applications [2012-2015]
                        li.main-list-item B.Sc Computer Maintenance and Electronics [2009-2012]
                article.web-dev
                    h4.sub-heading Programming Languages
                    ul.main-list
                        li.main-list-item C
                        li.main-list-item Java
                        li.main-list-item PHP
                        li.main-list-item JavaScript
                        li.main-list-item Objective-C
                    h4.sub-heading Technologies
                    ul.main-list
                        li.main-list-item iOS development
                        li.main-list-item
                            h5.list-heading Basics of web design/development
                            ul.sub-list
                                li.sub-list-item HTML5
                                li.sub-list-item CSS3
                                li.sub-list-item JavaScript
                                li.sub-list-item RESTful API
                        li.main-list-item
                            h5.list-heading Web developement frameworks
                            ul.sub-list
                                li.sub-list-item Meteor
                                li.sub-list-item Ploymer
                                //- li.sub-list-item AngularJS
                                //- li.sub-list-item NodeJS
                                li.sub-list-item 
                                    h6.small-heading Build Tools
                                    ul.sub-small-list
                                        li.ss-item grunt
                                        li.ss-item Gulp
                                li.sub-list-item
                                    h6.small-heading Other tools
                                    ul.sub-small-list
                                        li.ss-item Git and Github
                                        li.ss-item Bower
                                        li.ss-item Composer
                                        li.ss-item npm
            
            .default-wrapper
                span.heading Education
                article.post-graduation
                    h4.sub-heading Master of Computer Applications | 2012-2015
                    ul.main-list
                        li.main-list-item Bangalore University
                        li.main-list-item Administrative Management College, Bangalore, Karnataka
                        li.main-list-item Aggregate Percentage: 70%  
                article.under-graduation
                    h4.sub-heading B.Sc Computer Maintenance and Electronics | 2009-2012
                    ul.main-list
                        li.main-list-item Mahatma Gandhi University
                        li.main-list-item Union Christian College, Aluva, Cochin 
                        li.main-list-item Aggregate Percentage: 72% 
                article.higher-secondary
                    h4.sub-heading Plus Two (XII) | 2006-2008
                    ul.main-list
                        li.main-list-item Higher Secondary Education Board, Kerala
                        li.main-list-item Government Boys Higher Secondary School, Perumbavoor, Cochin
                        li.main-list-item Aggregate Percentage: 81% 
                article.sslc        
                    h4.sub-heading S S L C (X) | 2006
                    ul.main-list
                        li.main-list-item Kerala State Education Board
                        li.main-list-item G.V High School, Koovappady, Cochin
                        li.main-list-item Aggregate Percentage: 84% 
            
            .default-wrapper
                span.heading Personal Details
                article.personal
                    h4.sub-heading 
                    ul.main-list
                        li.main-list-item
                            span.right Name 
                            span.left  &#9658; Vineeth N V
                        li.main-list-item
                            span.right Address
                            span.left  &#9658; Nedumpilly House, Edavoor P.O Edavoor, Ernakulam-683544 
                        li.main-list-item
                            span.right Contact
                            span.left  &#9658; +91-953956827 | +91-9742009764
                        li.main-list-item
                            span.right E-Mail Address
                            span.left  &#9658; vineeth1991@gmail.com
                        li.main-list-item
                            span.right Date of birth
                            span.left  &#9658; 10-June-1991
                        li.main-list-item
                            span.right Sex
                            span.left  &#9658; Male
                        li.main-list-item
                            span.right Nationality
                            span.left  &#9658; Indian
            
        footer
            span.image
                a(href="/index.html")
                    img(src="/assets/images/profile.jpg" alt="vineeth.n.v")
            span.copyright
                h6 copyright@vnv
